<div>
    <p>Hi, <%= user.userName %></p>
    <p>We have received a request for password reset. Your request for reset password has been accepted.
        <br> Please click the below button to set new password for your account
    </p>
    <br>
    <a href="http://localhost:8000/users/change-password/<%= user.accessToken %>" class="f-fallback button button--green"
        target="_blank" style="background-color: #22BC66;
        border-top: 10px solid #22BC66;
        border-right: 18px solid #22BC66;
        border-bottom: 10px solid #22BC66;
        border-left: 18px solid #22BC66;
        text-decoration: none;color: #FFF">Reset your password</a>
    <p>
    </p>
    <br>
    <br>
    <p>Thanks and Regards,</p>
    <p>CAuth Team</p>
</div>